html,
body {
    overflow-y: overlay;
    
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 7px;
 
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: theme("colors.primary");
    filter: drop-shadow(10px 10px theme('colors.primary') );
    scrollbar-shadow-color: theme('colors.primary');
}

 