html,
body {
    overflow-y: overlay;
    
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 7px;

    &:hover {
        width: 15px;
    }
 
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: theme("colors.primary");
    filter: drop-shadow(10px 10px theme('colors.primary') );
    scrollbar-shadow-color: theme('colors.primary');
}

.page-enter-active,
.page-leave-active {
    transition: all 0.3s;
    position: static;
}
.page-enter-from,
.page-leave-to {
    opacity: 0;
    filter: blur(1rem);
}