.gradiant-heading {
    background: linear-gradient(
        270deg,
        #43fff4 1.98%,
        #a57bff 26.21%,
        #43d2ff 73.15%,
        rgba(67, 108, 255, 0.932292) 95.88%
    );
    background-clip: text;
    color: transparent;
}
.page {
  padding-bottom: 102px;

  @media (min-width:768px) {
    padding-bottom: 0px;
    padding-top: 112px;
  }

  height: 100vh;

  .page-lights {
    z-index: -1;
  }

  .page-overlay {
    position: absolute;
    z-index: -1;
    width: 100%;
    min-height: 100%;
    top: 0;
    // backdrop-filter: blur(20px);
  }

  .page-lights {
    top: 0;
    min-height: 100%;
    width: 100%;
  }
}