.gradiant-heading {
    background: linear-gradient(
        270deg,
        #43fff4 1.98%,
        #a57bff 26.21%,
        #43d2ff 73.15%,
        rgba(67, 108, 255, 0.932292) 95.88%
    );
    background-clip: text;
    color: transparent;
}
